/* mobile  */

@media (max-width: 768px) {
  #chat-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .active-Clients{
    position: absolute;
    color: var(--system-color);
    text-align: left;
    font-size: 8px;
    margin-top: 50px;
  }

  /* Chat messages */
  .chat-messages {
    margin: 10px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .chat-messages::-webkit-scrollbar {
    display: none;
  }
  
  .chat-message {
    padding: 3px;
    position: relative;
    
  }

  .chat-message::after {
    content: "";
    display: block;
    animation: typing 2s steps(20, end) forwards;
  }

  .chat-message p {
    font-size: 18px;
    margin: 0;
    padding: 0 10px;
  }

  .chat-message.timestamp {
    font-size: 12px;
    color: var(--system-color);
    text-align: left;
    display: inline-block;
  }

  .chat-message.sender {
    font-size: 12px;
    color: var(--ai-color);
    text-align: left;
    display: block;
  }

  .chat-message.system-message {
    font-size: 12px;
    color: var(--system-color);
    margin: 5px 0;
    text-align: left;
  }

  .system-message img {
    width: 50%;
    height: 50%;
  }
  
  .chat-message.ai-response { 
    color: var(--ai-color);
  } 

  .like-button,
  .dislike-button
  {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 10px;
    color: var(--system-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--system-color);
  }

  .total-button {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 10px;
    color: black;
    border: none;
    border-radius: 4px;
    display: inline-block;
   vertical-align: middle;
    background-color: white;
  }
  
  .like-button:hover,
  .dislike-button:hover {
    opacity: 0.8;
  }

  /* Chat input */
  .chat-input {
    display: flex;
    background-color: var(--bg-color);
    padding: 10px;
  }
  
  .chat-input input {
    flex: 1;
    border: none;
    border-radius: none;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 16px;
  }

  .chat-input input:focus {
    outline: none;
    border-color: lime;
  }
  
  
  .chat-input button {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
  }
    }